@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Slabo+27px&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Slabo 27px', serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
